Repository Icinga/icinga2, pull requests merged in 2019-01, with the labels that each got.

#6877 HttpServerConnection#DataAvailableHandler(): reduce log spam
  lib/remote/httpserverconnection.cpp
Labels: API, Log

#6880 pki::RequestCertificate: handle missing certificate/CSR
  lib/remote/jsonrpcconnection-pki.cpp
Labels: Cluster, bug

#6893 Add new "-us" option to ipmi-sensor CheckCommand
  doc/10-icinga-template-library.md
  itl/plugins-contrib.d/ipmi.conf
Labels: ITL

#6890 Added snmp_exclude option to manubulon snmp-storage check
  doc/10-icinga-template-library.md
  itl/command-plugins-manubulon.conf
Labels: ITL

#6885 Don't run UpdateObjectAuthority for Comments and Downtimes
  lib/remote/configobjectutility.cpp
Labels: API, Configuration

#6883 Allow Checkable#retry_interval to be 0
  lib/icinga/checkable-check.cpp
Labels: Check Execution, bug

#6899 Log: Ensure not to pass negative values to localtime()
  lib/icinga/checkable-check.cpp
Labels: bug

#6780 Make mail-{host,service}-notification.sh as POSIX-compliant as possible.
  etc/icinga2/scripts/mail-host-notification.sh
  etc/icinga2/scripts/mail-service-notification.sh
Labels: enhancement

#6848 Add fail2ban CheckCommand definition
  doc/10-icinga-template-library.md
  itl/plugins-contrib.d/network-services.conf
Labels: ITL

#6861 Add lmsensors CheckCommand definition
  doc/10-icinga-template-library.md
  itl/plugins-contrib.d/hardware.conf
Labels: ITL

#6865 Add haproxy-status CheckCommand definition
  doc/10-icinga-template-library.md
  itl/plugins-contrib.d/web.conf
Labels: ITL

#6803 Add btrfs CheckCommand definition
  doc/10-icinga-template-library.md
  itl/plugins-contrib.d/storage.conf
Labels: ITL

#6897 Validate Zone::GetLocalZone() before using
  lib/icinga/downtime.cpp
Labels: build-fix

#6911 Make the NSCP CheckDisk --exclude option available to Icinga 2
  doc/10-icinga-template-library.md
  itl/command-nscp-local.conf
Labels: ITL, enhancement

#6920 Downtime::AddDowntime(): place Downtimes in the same zone as the origin ScheduledDowntimes
  lib/icinga/downtime.cpp
Labels: bug

#6917 Cluster: Delete object message should log that
  lib/remote/apilistener-configsync.cpp
Labels: Cluster, Log, bug

#6924 Fix double to long conversions
  lib/base/convert.hpp
  test/base-convert.cpp
Labels: bug

#6925 Fix check_swap formatting
  plugins/check_swap.cpp
Labels: Plugins, Windows, bug

#6926 Feature/itl cloudera checks
  doc/10-icinga-template-library.md
  itl/plugins-contrib.d/big-data.conf
Labels: ITL
