Repository Icinga/icinga2, pull requests merged in 2020-01, with the labels that each got.

#7738 IcingaDB - Runtime updates: Use one pub/sub channel per config object type
  lib/icingadb/icingadb-objects.cpp
Labels: area/icingadb

#7739 cope with OS which don't fill in si_pid in siginfo
  lib/cli/daemoncommand.cpp
Labels: area/cli

#7741 CheckCommand ssl: s/-N/--sni/
  itl/command-plugins.conf
Labels: area/itl

#7737 Revert NotificationResult
  doc/08-advanced-topics.md
  lib/compat/compatlogger.cpp
  lib/compat/compatlogger.hpp
  lib/db_ido/dbevents.cpp
  lib/db_ido/dbevents.hpp
  lib/icinga/CMakeLists.txt
  lib/icinga/checkable-notification.cpp
  lib/icinga/checkable.hpp
  lib/icinga/clusterevents.cpp
  lib/icinga/clusterevents.hpp
  lib/icinga/notification.cpp
  lib/icinga/notification.hpp
  lib/icinga/notification.ti
  lib/icinga/notificationcommand.cpp
  lib/icinga/notificationcommand.hpp
  lib/icinga/notificationresult.cpp
  lib/icinga/notificationresult.hpp
  lib/icinga/notificationresult.ti
  lib/methods/pluginnotificationtask.cpp
  lib/methods/pluginnotificationtask.hpp
  lib/perfdata/gelfwriter.cpp
  lib/perfdata/gelfwriter.hpp
Labels: area/distributed, area/runtime

#7749 SELinux: Allow direct smtp notifications
  tools/selinux/icinga2.te
Labels: area/setup

#7748 ITL: Add notemp parameter to oracle health
  doc/10-icinga-template-library.md
  itl/plugins-contrib.d/databases.conf
Labels: area/itl

#7759 Use IoEngine::Spawn wrapper in RedisConnection class
  lib/icingadb/redisconnection.cpp
  lib/icingadb/redisconnection.hpp
Labels: core/quality

#7760 IcingaDB: Fix rescheduling a check not always updating state in Redis
  lib/icingadb/icingadb-objects.cpp
Labels: area/icingadb

#7764 IcingaDB::UpdateState: Check for Redis connection before calling FireAndForgetQuery()
  lib/icingadb/icingadb-objects.cpp
Labels: area/icingadb

#7765 Graphite/OpenTSDB: Ensure that Reconnect failure is detected
  lib/perfdata/graphitewriter.cpp
  lib/perfdata/opentsdbwriter.cpp
Labels: area/graphite, area/opentsdb, bug

#7780 Fix building with Boost 1.71.
  third-party/cmake/BoostTestTargets.cmake
Labels: area/setup, core/quality

#7793 Dev: Allow to delay main worker process in order to attach with LLDB
  doc/17-language-reference.md
  lib/cli/daemoncommand.cpp
Labels: core/quality

#7794 IcingaDB: Fix last_update
  lib/icingadb/icingadb-objects.cpp
Labels: area/icingadb
