Repository Icinga/icinga2, pull requests merged in 2021-09, with the labels that each got.

#8953 Icinga DB: clean up vanished objects from icinga:checksum:*:state
  lib/icingadb/icingadb-objects.cpp
Labels: bug, area/icingadb, consider backporting, cla/signed

#9010 Make CheckResult#scheduling_source available to Icinga DB
  lib/icingadb/icingadb-objects.cpp
Labels: enhancement, area/icingadb, cla/signed

#9013 Correct typos in documentation and examples
  doc/04-configuration.md
  etc/icinga2/conf.d/hosts.conf
Labels: needs feedback, cla/signed
