Repository Icinga/icinga2, pull requests merged in 2022-05, with the labels that each got.

#9364 Replace `EventuallyAtomic` with `AtomicOrLocked` which falls back to a mutex
  lib/base/atomic.hpp
  lib/base/configobject.ti
  lib/icinga/host.ti
  lib/icinga/hostgroup.ti
  lib/icinga/service.ti
  lib/icinga/servicegroup.ti
  lib/icinga/timeperiod.ti
  lib/icinga/user.ti
  lib/icinga/usergroup.ti
  tools/mkclass/classcompiler.cpp
Labels: bug, core/crash, ref/IP, cla/signed

#9354 Return correct status codes in process-check-result API
  lib/icinga/apiactions.cpp
  lib/icinga/checkable-check.cpp
  lib/icinga/checkable.hpp
Labels: area/api, cla/signed

#7919 Introduce Command#arguments[].separator
  doc/09-object-types.md
  itl/command-plugins.conf
  lib/icinga/command.ti
  lib/icinga/macroprocessor.cpp
  lib/icinga/macroprocessor.hpp
  lib/icingadb/icingadb-objects.cpp
Labels: enhancement, cla/signed
