Repository Icinga/icinga2, pull requests merged in 2023-06, with the labels that each got.

#9777 Doc: Troubleshooting: recommend reducing concurrency for more speed
  doc/15-troubleshooting.md
Labels: enhancement, area/documentation, cla/signed

#9783 POST /v1/objects: allow array of attrs to undo modifications of
  doc/12-icinga2-api.md
  lib/remote/modifyobjecthandler.cpp
Labels: enhancement, area/configuration, area/api, cla/signed

#9793 IcingaDB::PrepareObject(): round Notification#interval and limit it to >=0
  lib/icingadb/icingadb-objects.cpp
Labels: bug, area/icingadb, cla/signed

#9785 Icinga DB: also write ConfigObject#original_attributes into Redis
  lib/icingadb/icingadb-objects.cpp
Labels: area/icingadb, cla/signed

#9805 IcingaDB::PrepareObject(): cut off (0) negative Command#timeout for Redis
  lib/icingadb/icingadb-objects.cpp
Labels: cla/signed

#9794 IcingaDB::PrepareObject(): round Notification#times.{begin,end} not to crash Go daemon
  lib/icingadb/icingadb-objects.cpp
Labels: bug, area/icingadb, cla/signed

#9811 Enable built-in OpenSSL DH parameters to allow DHE TLS ciphers
  lib/base/tlsutility.cpp
Labels: area/distributed, cla/signed

#9810 ElasticsearchWriter#Pause(): call Flush() only once
  lib/perfdata/elasticsearchwriter.cpp
Labels: bug, area/elastic, cla/signed
