Repository Icinga/icinga2, pull requests merged in 2024-12, with the labels that each got.

#9825 Doc: Distributed Monitoring: add section "External CA/PKI"
  doc/06-distributed-monitoring.md
Labels: enhancement, area/distributed, area/documentation, consider backporting, cla/signed

#10263 DependencyGraph: switch "parent" and "child" terminology
  lib/base/dependencygraph.cpp
  lib/base/dependencygraph.hpp
  lib/base/scriptutils.cpp
  lib/remote/configobjectutility.cpp
  lib/remote/objectqueryhandler.cpp
Labels: core/quality, cla/signed

#10005 Add a dedicated method for disconnecting TLS connections
  lib/base/tlsstream.cpp
  lib/base/tlsstream.hpp
  lib/methods/ifwapichecktask.cpp
  lib/remote/apilistener.cpp
  lib/remote/httpserverconnection.cpp
  lib/remote/jsonrpcconnection.cpp
Labels: bug, area/api, ref/IP, cla/signed

#10264 DependencyGraph: use ConfigObject*, not Object*
  lib/base/dependencygraph.cpp
  lib/base/dependencygraph.hpp
  lib/base/scriptutils.cpp
  lib/remote/configobjectutility.cpp
  lib/remote/objectqueryhandler.cpp
  tools/mkclass/classcompiler.cpp
Labels: core/quality, cla/signed
